logging:
  file:
    path: var/log
  level:
    org:
      springframework:
        security: INFO

spring:
  security:
    user:
      password: password
      name: admin
      roles:
        - ADMIN
        - READ
        - WRITE
  application:
    name: @project.name@
    album:
      storage:
        local:
          path: ${BASE_PATH:/tmp/upload}
      thumbnail: false
  reactor:
    context-propagation: auto
  datasource:
    username: ${DB_USERNAME:fake}
    password: ${DB_PASSWORD:fake}
    url: ${DB_HOST:jdbc:postgresql://localhost:5432/all-in-one}
  flyway:
    url: ${spring.datasource.url}
    user: ${spring.datasource.username}
    password: ${spring.datasource.password}
    enabled: false
  mvc:
    problemdetails:
      enabled: true
server:
  error:
    include-message: always
management:
  endpoint:
    health:
      probes:
        enabled: true
